
body{
	background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Rubik-Light', Arial, Sans-serif, Helvetica;
    font-weight: 300;
    background-color: #f1f1ec;
    overflow:hidden;
    cursor: none;
}
p{
	margin:0;
	color:#fff;
}
.languages div {
    position: relative;
    transition: ease .3s all;
    margin: 11px 0;
    font-size: 18px;
    border: 1px solid #26313d;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.languages {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    left: 100px;
    display: flex;
    flex-direction: column;
}
.languages div span {
    top: 50%;
    position: relative;
    transition: ease .3s all;
    transform: translate(0, -50%);
    float: left;
    width: 100%;
}
.languages div.active {
    border: 1px solid #cc0066;
}
.languages div.active span {
    color: #cc0066;
}
.view[data-view="1"] img {
    margin-top: 120px;
}
h2 {
    font-size: 70px;
    color: #cc0066;
    font-weight: 300;
    line-height: 100%;
    margin: 100px 0 35px 0;
}
p {
    margin: 0;
    color: #26313d;
    font-size: 30px;
}
button[data-button="pink"] {
    background: #cc0066;
}
button {
    font-size: 30px;
    min-width: 210px;
    border: none;
    color: #f1f1ec;
    font-weight: 300;
    font-family: 'Rubik-Light', Arial, Sans-serif, Helvetica;
    padding: 15px 20px 14px 20px;
    border-radius: 45px;
    margin-top: 42px;
}
.home_btn {
    position: absolute;
    top: 90px;
    left: 100px;
    width: 60px;
    height: 60px;
    border: 1px solid #26313d;
    border-radius: 50%;
}
.home_btn img {
    top: 50%;
    position: relative;
    transform: translate(0, -50%);
}
.info_btn {
    position: absolute;
    top: 90px;
    left: 180px;
    width: 60px;
    height: 60px;
    border: 1px solid #26313d;
    border-radius: 50%;
}
.info_btn img {
    top: 50%;
    position: relative;
    transform: translate(0, -50%);
}
.kaart {
	background-image:url('../img/Geneetiline kaart-01.svg');
	height: 100%;
	width: 100%;
	background-size: cover;
}
.countries div {
    position: relative;
    transition: ease .2s all;
    margin: 3px 0;
    font-size: 18px;
    border: 1px solid #26313d;
    width: 300px;
    height: 35px;
    border-radius: 45px; 
    border-width: 1px;
}
.countries {
    position: absolute;
    top: 54%;
    transform: translate(0%, -50%);
    left: 100px;
    display: flex;
    flex-direction: column;
}
.countries span{
    top: 50%;
    position: relative;
    /*transition: ease .1s all;*/
    transform: translate(0, -50%);
    float: left;
    width: 100%;
    padding: 15px 20px 14px 20px;
}
.juhend {
    position: absolute;
    top: 93%;
    left: 98px;
    width: 290px;
    text-align: left;
}
.juhend_text {
    font-size: 14px;
    margin-left: 40px;
}
.juhend img {
    position: absolute;
}

.cls-2 {
	stroke: #f1f1ec;
}
.cls-1{
    stroke: #f1f1ec;
}
.info_leht{
    position: absolute;
    width:100%;
    height:100%;
    background-color: #a0dae3;
}
.info_leht h2{
    margin-top: 300px;
}
.info_leht p{
    margin-top: 30px;
}

/* FONTS */
@font-face {
    font-family: 'Rubik-Light';
    src: url('../fonts/Rubik-Light.eot') format('eot'), url('../fonts/Rubik-Light.ttf')  format('truetype'), url('../fonts/Rubik-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}